@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: League Spartan;
    @apply text-[#E8EDF0];
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/*
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2D3E50;
  color: #E8EDF0;
  font-family: 'League Spartan'
*/